[gerrit]
	basePath = git
	canonicalWebUrl = http://10.5.1.80/gerrit/
[database]
	type = H2
	database = db/ReviewDB
[auth]
	type = HTTP
[sendemail]
	smtpServer = localhost
	smtpUser = gerrit
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-1.7.0-openjdk-1.7.0.9.x86_64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8081/gerrit
[cache]
	directory = cache
